* {
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 800px;
	margin: 100px auto;
}
#wrap::after {
	display: block;
	content: '';
	clear: both;
}
#wrap .left {
	width: 400px;
	height: 400px;
	background-color: lemonchiffon;
	float: left;
}

#wrap .right {
	width: 400px;
	height: 400px;
	background-color: blueviolet;
	float: left;
	position: relative;
}

#wrap .bottom {
	width: 800px;
	height: 100px;
	background-color: lightblue;
	float: left;
}

.box {
	width: 50px;
	height: 50px;
	background-color: blue;
	position: absolute;
	bottom: 50px;
	right: 50px;
	z-index: 1;
}

.box2 {
	width: 50px;
	height: 50px;
	background-color: hotpink;
	position: absolute;
	bottom: 80px;
	right: 80px;
}
